*{
    box-sizing: border-box;
}
body{
    font-family: 'Montserrat', sans-serif, 'Noto Sans JP', sans-serif;
}
html{
    font-size: 62.5%;
    scroll-behavior: smooth;
  }

  img{
      width: 100%;
      vertical-align: bottom;
  }
  p{
      font-size: 1.6rem;
  }

  .flex{
      display:flex;
  }
  .main-container{
    width: 1100px;
    margin: 0 auto;
  }
  .section-header{
    font-size: 3.2rem;
    color: #000000;
    letter-spacing: 1.5px;
    padding-bottom: 30px;
  }
  .section-text{
    font-size: 1.6rem;
    font-weight: normal;
    line-height: 2;
  }
  #vision,#message,#company,#footer{
    margin-top: 120px;
  }

/* -------- リンクボタン ------- */
.page-jump{
    width: 160px;
    height: 36px;
    background-color: #000000;
    text-align: center;
    text-align: center;
    padding-top: 12.5px;
    margin-left: 30px;
    margin-bottom: 50px;
}
.page-jump a{
    color: #fff;
    font-size: 1.2rem;
    align-items: center;
    text-align: center;
    font-weight: bold;
}
.mandatory{
    font-size: 12px;
    padding: 5px;
    background-color: #333333;
    color: #fff;
}
/* ------------------------------------------ header -------------------------------------- */


.header{
    height: 60px;
    width: 100%;
    position: absolute;
    z-index: 100;
}
.header-logo{
    width: 260px;
    padding-top: 30px;
    padding-left: 58px;
    
}
.globalmenuSp-mask{
    position:absolute;
    top: 0;
    left: 0;
    width: 1440px;
    height: 100%;
    opacity: 0.8;
    background-color: #222222;
    z-index: 9;
}
/*　ハンバーガーボタン　*/
.berger-menu-text{
    display : block;
    position: fixed;
    z-index : 100;
    right : 50px;
    top   : 40px;
    color: #fff;
    font-size: 1rem;
}
.hamburger {
    display : block;
    position: fixed;
    z-index : 100;
    right : 97px;
    top   : 37.5px;
    width : 22px;
    height: 22px;
    cursor: pointer;
    text-align: center;
  }
  .hamburger span {
    display : block;
    position: absolute;
    width   : 100%;
    height  : 2px ;
    background : #fff;
    -webkit-transition: 0.3s ease-in-out;
    -moz-transition   : 0.3s ease-in-out;
    transition        : 0.3s ease-in-out;
  }
  .hamburger span:nth-child(1) {
    top: 0;
  }
  .hamburger span:nth-child(2) {
    top: 5px;
  }
  .hamburger span:nth-child(3) {
    top: 10px;
  }
  
  /* ナビ開いてる時のボタン */
  .hamburger.active span:nth-child(1) {
    top : 8px;
    background :#fff;
    -webkit-transform: rotate(-45deg);
    -moz-transform   : rotate(-45deg);
    transform        : rotate(-45deg);
  }
  
  .hamburger.active span:nth-child(2),
  .hamburger.active span:nth-child(3) {
    top: 8px;
    background :#fff;
    -webkit-transform: rotate(45deg);
    -moz-transform   : rotate(45deg);
    transform        : rotate(45deg);
  }
  
  nav.globalMenuSp {
    position: fixed;
    z-index : 10;
    top  : 0;
    right : 0;
    color: #fff;
    background: rgba(0,0,0,0.7);
    text-align: center;
    width: 36.111111%;
    opacity: 0;
    transition: opacity .6s ease, visibility .6s ease;
    visibility: collapse;
    height: 100%;
  }
  
  nav.globalMenuSp ul {
    margin: 0 auto;
    padding: 0;
    width: 100%;
    margin-top: 180px;
  }
  
  nav.globalMenuSp ul li {
    list-style-type: none;
    padding: 0;
    width: 100%;
    transition: .4s all;
    height: 80px;
  }
  nav.globalMenuSp ul li:last-child {
    padding-bottom: 0;
  }
  nav.globalMenuSp ul li:hover{
    background :#ddd;
  }
  nav.globalMenuSp ul .menu-logo:hover{
    background-color: rgba(0,0,0,0);
  }
  nav.globalMenuSp ul li a {
    display: block;
    color: #fff;
    padding: 1em 0;
    font-size: 2rem;
    line-height: 40px;
    text-decoration :none;
  }
  
  /* このクラスを、jQueryで付与・削除する */
  nav.globalMenuSp.active {
    opacity: 100;
    visibility: visible;
  }
  .berger-logo{
      width: 42.15px;
      margin: 0 auto;
  }
  .berger-mask{
    width: 90px;
    height: 20px;
    background: rgba(0,0,0,0.7);
    position: fixed;
    right: 45px;
    top: 34px;
    z-index: 1;
    display: none;
  }
/* ------------------------------------------ main -------------------------------------- */
.main-container{
    width: 700px;
    margin: 0 auto;
    padding-top: 120px;
}
/* -------- first view -------- */

.fv{
    height: 464px;
}

.fv-back-image{
    position: relative;
    top: 0;
    left: 0;
    width: 76.3889%;
    height: 387px;
    z-index: 5;
    background: url(../images/heading-img_contact.png) no-repeat;
    background-size: cover;
    background-position: center;

}

.fv-contents{
    position: absolute;
    top: 156px;
    right: 170px;
    z-index: 8;
}

.fv-text{
    font-size: 2rem;
    color: #fff;
    margin-bottom: 10px;
}

.fv-text-bold{
    font-size: 7.2rem;
    color: #fff;
    font-weight: bold;
}

.fv-mask{
    width: 56vw;
    height: 464px;
    background-color: #222;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 4;
}
/* -------- チェックボタン -------- */
.box-container{
    display: flex;
}
input[type=radio] {
    display: none;
}
.radio01 {
    box-sizing: border-box;
    cursor: pointer;
    display: inline-block;
    padding: 5px 50px 0 30px;
    position: relative;
    width: auto;
    font-size: 1.6rem;
}
.radio01::before {
    background: #fff;
    border: 1px solid #231815;
    border-radius: 50%;
    content: '';
    display: block;
    height: 16px;
    left: 5px;
    margin-top: -8px;
    position: absolute;
    top: 50%;
    width: 16px;
}
.radio01::after {
    background: #333333;
    border-radius: 50%;
    content: '';
    display: block;
    height: 10px;
    left: 9px;
    margin-top: -4px;
    opacity: 0;
    position: absolute;
    top: 50%;
    width: 10px;
}
input[type=radio]:checked + .radio01::after {
    opacity: 1;
}
/* -------- /チェックボタン -------- */
.contact-text{
    font-size: 1.6rem;
    margin-bottom: 55px;
}
.flex{
    margin-bottom: 20px;
    align-items: center;
}
.flex-text{
    padding-right: 15px;
}
.form-text{
    padding-top: 45px;
    margin-bottom: 10px;
}
.form-input{
    width: 100%;
    height: 40px;
}
#contact-form{
    width: 100%;
    height: 212px;
    padding: 10px;
    resize: none;
}
.v-contents{
   width: 423px;
   margin: 0 auto; 
   margin-top: 43px;
}
.verification{
    width: 20px;
    height: 20px;
    margin-right: 10px;
}
.v-text{
    padding-top: 2px;
}
.contact-jump{
    margin: 0 auto;
    margin-top: 40px;
}
.privacy-policy{
    font-size: 1.6rem;
    font-weight: bold;
}
#pp-text{
    resize: none;
    width: 100%;
    height: 252px;
    padding: 10px 10px 0 10px;
    font-size: 1.6rem;
    line-height: 1.5;
    font-weight: 400;
}
/* ------------------------------------------ footer -------------------------------------- */
#footer{
    height: 50px;
    background-color: #525252;
    text-align: center;
  }
  .footer-text{
    font-size: 1rem;
    color: #fff;
    display: block;
    line-height: 50px;
  }
/* ---------------------------------- レスポンシブ ------------------------------ */
/* ---------- tablet ---------- */
  @media (max-width: 780px){
    .main-container{
        padding-top: 135px;
        width: 668px;
    }
  /* -------- header ------- */
  .header-logo{
      width: 189px;
      padding-top: 29px;
      padding-left: 30px;
    }
    .hamburger{
        top: 33px;
        right: 69px;
    }
    .berger-menu-text{
        top: 33px;
        right: 30px;
    }
    nav.globalMenuSp{
        width: 50%;
    }
  /* -------- first view ------- */
      .fv{
          height: 615px;
      }
      .fv-contents{
          top: 132px;
          right: 50px;
      }
      .fv-text-bold{
          font-size: 5.2rem;
      }
      .fv-text{
          font-size: 1.6rem;
      }
      .fv-back-image{
          width: 578px;
          height: 529px;
      }
      .fv-mask{
          width: 406px;
          height: 615px;
      }
      .form-input{
          height: 48px;
      }
      .form-text{
          padding-top: 40px;
      }
      #contact-form{
          height: 180px;
      }
      #pp-text{
          height: 226px;
      }
      
  }

  @media (max-width: 376px){
    .main-container{
        padding-top: 135px;
        width: 345px;
    }
  /* -------- header ------- */
  .header-logo{
      width: 189px;
      padding-top: 20px;
      padding-left: 15px;
    }
    .hamburger{
        top: 24px;
        right: 54px;
    }
    .berger-menu-text{
        top: 24px;
        right: 15px;
    }
    nav.globalMenuSp{
        width: 100%;
    }
  /* -------- first view ------- */
      .fv{
          height: 365px;
      }
      .fv-contents{
          top: 129px;
          right: 21px;
      }
      .fv-text-bold{
          font-size: 5.2rem;
      }
      .fv-text{
          font-size: 1.6rem;
          text-align: right;
      }
      .fv-back-image{
          width: 287px;
          height: 270px;
      }
      .fv-mask{
          width: 198px;
          height: 365px;
      }
/* ------------ contact form ------------- */
      .radio-item{
          margin-bottom: 15px;
      }
      .contact-text{
          font-size: 1.4rem;
      }
      .box-container{
          display: block;
      }
      .v-contents{
          width: 345px;
      }
      .v-text{
          font-size: 1.4rem;
      }
      #contact-form{
        height: 210px;
      }
      #pp-text{
        height: 216px;
      }
      

  }
  
